<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat Room</title>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel='stylesheet prefetch'
          href='https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

</head>
<style>
    body {
        background-color: whitesmoke;
    }

    #logout, a, a:hover, a:visited {
        text-decoration: none;
        color: black;
    }

    #usernames {
        color: black;
    }

    #spacer {
        margin-top: 20px;
    }

    #user-col {
        display: inline-block;
        margin-top: 20px;
        margin-left: 30px;
        height: 170px;
        color: white;
        text-align: center;
        background-color: white;
        border-style: solid;
        border-color: lightgrey;
        border-width: thin;
    }

    #user-text {
        color: white;
        padding-top: 10px;
    }

    #msg-col {
        display: inline-block;
    }

    #myMessage {
        height: 170px;
    }

    #messages {
    }

    #sendbutton {
        width: 50px;
        float: right;
    }

    .rounded-circle {
        height: 65px;
    }

    #logo {
        display: inline-block;
    }

    #profile {
        margin-top: 15px;
        margin-left: 0px;
    }
</style>
<body>

<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="index.html" class="navbar-brand">Home</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <a href="#" class="nav-item active nav-link">Page 1</a>
                <a href="#" class="nav-item active nav-link">Page 2</a>

<!--THIS IS A DROPDOWN MENU ON NAVBAR-->
                <!--<li class="nav-item dropdown">-->
                    <!--<a href="#" class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">dropdown</a>-->
                    <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                        <!--<a href="#" class="dropdown-item">dropdown</a>-->
                        <!--<a href="#" class="dropdown-item">dropdown</a>-->
                        <!--<a href="#" class="dropdown-item">dropdown</a>-->
                    <!--</div>-->
                <!--</li>-->
</ul>
            <!----THIS IS THE SEARCH IN THE NAVBAR, COMMENTED OUT CURRENTLY
            <!--<form action="#" method="post" class="form-inline my-2 mylg-0">-->
                <!--<input type="search" name="buscar" id="buscar" class="form-control mr-sm-2" placeholder="Search" aria-label="search">-->
                <!--<button class="btn btn-outline-success" type="submit">Search</button>-->
            <!--</form>-->

        </div>

                <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>{{ user }}</strong>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{ user }}</strong></p>
                                        <p class="text-left small">{{ user }}@email.com</p>
                                        <p class="text-left">
                                            <a href="{{ url_for('indiv_history',indiv=user)}}" class="btn btn-primary btn-block btn-sm">My Writing</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="{{ url_for('logout') }}" class="btn btn-danger btn-block">Logout</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                </ul>
    </nav>
</div>


<div class="row">
    <div class="col-md-2">

    </div>


    <div id="msg-col" class="col-md-8">
            <div id="spacer"></div>
            <div id="prompt">
                <h3>{{ cur_prompt }}</h3>
            </div>

            <!--<input type="text" name="newMessage" id="myMessage">-->
        <!--<script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>-->
        <form method="post">

            <textarea class="form-control" name="newMessage" id="newMessage" rows="5"></textarea>
            <!-- Create the editor container -->
    <!--<textarea title="newMessage" class="form-control" name="newMessage" id="newMessage">-->
        <!--Compose your epic here...-->
    <!--</textarea>-->


        <div id="send">
            <button type="submit" id="sendbutton">Send</button>

            </div>
                                </form>


<p><br><br></p>
            {% for each in cur_story %}
            <div id="spacer"></div>
            <li class="list-group-item"><b><a id="usernames"
                                              href="{{ url_for('indiv_story',storyID=storyID) }}">{{
                each[0] }}</a></b><br> {{ each[1] }}
            </li>
            {% endfor %}
        </ul>

    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var user = '{{ user }}'
            var socket = io.connect('http://0.0.0.0:4000');
            socket.on('connect', function () {
                // socket.send(user + ' has connected!');
            });
            socket.on('newMessage', function (msg) {
                $("#messages").append('<div id="spacer"></div><li class="list-group-item"><a id="usernames" href="{{ url_for("indiv_history", indiv=user) }}"><b>' + user + '</b></a><br> ' + msg + '</li>');
                console.log('Received message');
            });
            $('#sendbutton').on('click', function () {
                socket.send($('#newMessage').val());
                $('#newMessage').val('');
            });
        });
    </script>
</div>
</body>
</html>